.authform

	%h3
		- if @employee.new_record?
			= t('employees.navigation.adding_an_employee')
		- else
			= t('employees.navigation.editing_an_employee')

	= simple_form_for(@employee) do |f|
		= f.error_notification

		.form-group
			= f.text_field :name, :autofocus => true, class: 'form-control floating-label', placeholder: t('employees.forms.name')
			= f.error :name

		.form-group
			= f.date_field :born_at, autofocus: true, class: 'date form-control floating-label', placeholder: t('employees.forms.born_at')
			= f.error :born_at

		.form-group
			= f.association :punch_clock, collection: PunchClock.where(account: current_user.account), autofocus: true, class: 'form-control floating-label'#, placeholder: t('employees.forms.punch_clock')
			= f.error :name

		.form-actions
			= f.button :submit

		/ an exeample of how to style radio buttons !
		/ see the accompanying CSS in assets/stylesheets/application.css.scss
		/
		/ .row
		/ 	.col-sm-12
		/ 		%fieldset
		/ 			%legend Radio Control Quality
		/ 			%label{ for: "accessible"}
		/ 				%input{ type:"radio", value: "accessible", name: "quality", id: "accessible"}
		/ 					%span accessible
		/
		/ 			%label{ for: "pretty"}
		/ 				%input{ type:"radio", value: "pretty", name: "quality", id: "pretty" }
		/ 					%span pretty
		/
		/ 			%label{ for: "accessible-and-pretty"}
		/ 				%input{ type:"radio", value: "accessible and pretty", name: "quality", id: "accessible-and-pretty" }
		/ 					%span accessible and pretty
