.authform
	%h3= @account.name

	%p
		%b Navn:
		= @account.name
	
	%p
		%b Aktiv:
		= @account.active
		
	= link_to t(:edit), edit_account_path(@account), class: 'btn btn-primary'
	= link_to t(:back), accounts_path, class: 'btn btn-default btn-raised' if current_user.admin?
